*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position:relative;
    height:100vh;
}

div{
    position:absolute;
    width:200px;
    height:200px;
    background: red;
    flex-direction: column;
    font:bold 20px sans-serif;
    color:white;
    gap:10px;
}
.cen{
    display: flex;
    justify-content: center;
    align-items: center;
}
